# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.pssess
*.vsp
*.vspx

# log files
*.log
*.tlog

# image files
*.ico
*.bmp


*.res
*.lastbuildstate
*.obj
*.pch
*.unsuccessfulbuild
*.pdb
*.idb
*.exe
*.ilk
*.bat


# directories
AmMicroWriter/
AmWinTema/
Audiologia/
Bin/
CE/
CostoPrestazioniService/
Debug/
Dedalus_SIRE_Client/
Demo/
DLL_Imaging/
EliminaCode/
EndoxInstallerSelDB/
EndoxInstallerSelMIL/
EndoxMimeCreator/
EndoxReportMaker/
EndoxServer/
EndoxServerFullInstallerDBStringConnection/
EndoxSyncro/
EndoxSyncroGUI/
EPrescription_Dedalus_Caller/
FleuryChecklistSync/
FleuryDoctorSync/
FleuryImagePdfCreator/
FleuryImporterXmlToDb/
ImageArchivePurger/
Installers/
ipch/
LibCap/
libMD5/
LibUtils/
MisureConfig/
MoveFile/
MyPowerShellLauncher/
NoemaCommunityPrescription_Client/
packages/
PowerPointCreator/
PsmProxy_src/
QualityControlServer/
Release/
RemoteReportingAndQualityControlService/
RemoteReportingServer/
Res/
ScanRequestImporter/
ServerCommon/
ServiceCommunicator/
TesiImagingActivate/
ToolkitPro/
TrayServicesManagement/
UtilsClass/
VitalSignIntegrationClient/
WebForm/
xCapDebug/
xPdfPrint/
xrclient/

